<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'books_style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome, {{request.session.first_name}}!</h1>
        <a href="/books/logout">Log Out</a>
    </header>
    <nav>
        <a class="navigate_links" href="/books/add">Add Book and Review</a>
    </nav>
    <div id="wrapper">
        <main>
            <div class="review">
                <h2>Recent book reviews:</h2><br>
                {% for review in reviews %}
                    <a style="font-size: 18px;" href="/books/{{review.book.id}}">{{review.book.title}}</a>
                    <p>Rating {{review.rating}}</p>
                    <a href="/books/user/{{review.user.id}}">{{review.user.alias}}</a> says:
                    <p>{{review.content}}</p><br>
                    <p style="font-style: italic;">Posted on {{review.updated_at}}</p><br><br>
                {% endfor %}
            </div>
            <div class="review">
                <h2>Other books with reviews:</h2>
                <div id="list_of_books">
                    {% for book in books_with_reviews %}
                        <a href="/books/{{book.id}}">{{book.title}}</a><br>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</body>
</html>