<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a New Show</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
</head>
<body>
    <h1>Add a New Show</h1>
    <a id="go_back" href="/">Go Back</a>
    <form action="/shows/create" method="POST">
        {% csrf_token %}
        Title <input type="text" name = "title">
        Network <input type="text" name = "network">
        Release Date <input type="date" name = "release_date">
        Description <textarea name="description" cols="75" rows="15"></textarea>
        <input type="submit" value="Add">
    </form>
</body>
</html>