<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{author.first_name}} {{author.last_name}}</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
</head>
<body>
    <h1>Add an Author</h1>
    <form action="">
        {% csrf_token %}
        First Name: <input type="text">
        Last Name: <input type="text">
        Notes: <textarea name="desc" id="" cols="65" rows="7"></textarea>
        <input type="submit" value="Add">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }} {{author.last_name}}</td>
                <td><a href="/authors/{{author.id}}">View</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>