<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{book.title}}</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
</head>
<body>
    <h1>{{book.title}}</h1>
    <h2>ID: {{book.id}}</h2>
    Description: <textarea name="" id="" cols="65" rows="7" readonly>{{book_description}}</textarea>
    <h2>Authors:</h2>
    <ul>
        {% for author in authors %}
            <li>{{ author.first_name }} {{ author.last_name }}</li>
        {% endfor %}
    </ul>
    <form action="/book/{{book.id}}/add_author" method="POST">
        {%csrf_token%}
        <select name="author_id">
            <!-- <option value="" selected data-default>-select an author-</option> -->
            {%for author in all_authors%}
            <option  value="{{author.id}}">{{ author.first_name }} {{ author.last_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>
</body>
</html>